@page
@model VetClinic.Pages.Patients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>New Patient</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientView.Name" class="control-label"></label>
                <input asp-for="PatientView.Name" class="form-control" />
                <span asp-validation-for="PatientView.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientView.Species" class="control-label"></label>
                <input asp-for="PatientView.Species" class="form-control" />
                <span asp-validation-for="PatientView.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientView.Age" class="control-label"></label>
                <input asp-for="PatientView.Age" class="form-control" />
                <span asp-validation-for="PatientView.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientView.Photo" class="control-label"></label>
                <input type="file" accept="image/jpeg, image/jpg,  image/png" asp-for="PatientView.Photo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PatientView.Notes" class="control-label"></label>
                <input type="file" asp-for="PatientView.Notes" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
